.display-1{
    font-size: 2.0rem;
    font-weight: 200;
    line-height: 1.1;
    

}
.display-1:hover{
    border-bottom: 1px solid #110f0f;
}
#logo{
    height: 50px;
}
.navbar-brand{
    color: rgb(17, 11, 11);
}
.navbar:hover{
    background-color:white;
    box-shadow: 0 0 20px 0 #000000;
    margin: auto;
}
.display-2{
    font-size: 1.5rem;
    color: black;
    font-weight:300;
    font: optional;
}
.display-2:hover{
    color: black;
    font-weight:300;
    font: optional;
}
.display-3{
    font-size: 1.5rem;
    font-weight: 100;
}
.dropdown-menu{
  display: none;
  position: absolute;
  background-color:white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(247, 243, 243);
  z-index: 1;
}
.dropdown-menu a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover{
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown:hover .dropdown-menu a{
    color: black;
}
.display-4{
    color: rgb(241, 106, 151);
}
.navbar-nav{
  /* display: none; */
  position: absolute;
  background-color:white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(247, 243, 243);
  z-index: 1;
}
.navbar-nav a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.navbar-nav a:hover{
    background-color: whitesmoke;
}

.dropdown:hover .navbar-nav{
    display: block;
}
.dropdown:hover .navbar-nav a{
    color: black;
}